.Title {
    text-align: center;
    margin-bottom: calc(10px + (40 - 10) * ((100vw - 768px) / (1900 - 768)));
    @media screen and (max-width: 767px) {
        margin-bottom: 10px;
    }
    h3 {
        color: #1079C2;
        text-align: center;
        font-family: $montserat;
        font-size: calc(24px + (48 - 24) * ((100vw - 768px) / (1900 - 768)));
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @media screen and (max-width: 767px) {
            font-size: 24px;
        }
    }
    p {
        color: #1079C2;
        @media screen and (max-width: 767px) {
            font-size: 12px;
        }
    }
}